:root {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  background: #dc4040;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.lang {
  font-size: 24px;
  font-weight: 700;
}